/* Base styles for desktop */
.product-card {
  position: relative;
  text-align: center;
  background-color: var(--color-secondary);
  padding: var(--spacing-m);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 220px;
  min-height: fit-content;
  height: 450px;
  border-radius: var(--border-radius);
  box-shadow: var(--shadow-s);
}
.product-card__button {
  background-color: inherit;
  padding: 0;
  flex: 0;
  box-shadow: none;
}
.product-card__image {
  border-radius: var(--border-radius);
}
.product-card__heading {
  padding: var(--spacing-m) 0 var(--spacing-s) 0;
}
.product-card__body {
  font-size: var(--font-size-m);
}
.product-card__price {
  font-size: var(--font-size-xl);
  font-weight: var(--font-weight-bold);
  position: absolute;
  bottom: 100px;
}
.product-card__counter {
  position: relative;
  display: flex;
  justify-content: end;
  align-items: center;
  gap: var(--spacing-m);
  padding: 0 0 var(--spacing-s) 0;
  margin-top: auto;
}
.product-card__delete,
.product-card__add {
  border: 1px solid black;
  color: var(--color-text-alternative);
  background-color: var(--color-detail);
}
.product-card__count {
  display: flex;
  flex-direction: column;
  font-size: var(--font-size-xl);
  font-weight: var(--font-weight-bold);
}
.product-card__reset-button {
  bottom: -5px;
}

/* Media Queries for smaller screens */
@media (max-width: 767px) {
  .product-card {
    height: auto;
  }
  .product-card__price {
    position: static;
    padding-top: var(--spacing-m);
  }
}
