/* Base styles for desktop */
.testimonials-section {
  padding: var(--spacing-3xl) 0;
  display: flex;
  flex-direction: column;
  gap: var(--spacing-l);
  text-align: center;
}
.testimonials-section__header p {
  padding-top: var(--spacing-m);
}
.testimonials-section__cards {
  color: var(--color-text-alternative);
  background-color: var(--color-primary);
  padding: var(--spacing-l);
  border-radius: var(--border-radius);
  display: flex;
  gap: var(--spacing-4xl);
  justify-content: space-evenly;
}
.testimonial-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--spacing-l);
}
.testimonial-card__rating {
  display: flex;
}
.testimonial-card__star-icon {
  width: 20px;
}
.testimonial-card__profile {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.testimonial-card__image-container {
  width: var(--profile-testimonial);
  height: var(--profile-testimonial);
  border-radius: 50%;
  overflow: hidden;
  box-shadow: var(--shadow-s);
  position: relative;
}
.testimonial-card__image.first {
  position: absolute;
  top: 20px;
  transform: scale(1.4);
}
.testimonial-card__image.third {
  position: absolute;
  top: -15px;
  transform: scale(1.3);
}
.testimonial-card__author h4 {
  padding-top: var(--spacing-m);
}

/* Media Queries for smaller screens */
@media (min-width: 768px) and (max-width: 1199px) {
  .testimonials-section__cards {
    color: var(--color-text-alternative);
    background-color: var(--color-primary);
    padding: var(--spacing-l);
    border-radius: var(--border-radius);
    display: flex;
    gap: var(--spacing-m);
  }
  .testimonial-card {
    justify-content: space-between;
  }
}

@media (max-width: 767px) {
  .testimonials-section {
    padding: var(--spacing-xl) 0;
  }
  .testimonials-section__header p {
    padding-top: var(--spacing-m);
  }
  .testimonials-section__cards {
    flex-direction: column;
    gap: var(--spacing-2xl);
  }
  .testimonial-card {
    gap: var(--spacing-m);
  }
}
