/* Base styles for desktop */
.about-section {
  padding-bottom: var(--spacing-2xl);
}
.about-section__heading {
  text-align: center;
  padding: var(--spacing-3xl);
}
.about-section__content-container {
  display: flex;
  justify-content: space-evenly;
  gap: var(--spacing-l);

  background-color: var(--color-primary);
  padding: var(--spacing-3xl);
  border-radius: var(--border-radius);
}
.about-section__content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: clamp(auto, 80ch, 100%);

  color: var(--color-text-alternative);
}
.about-section__body {
  font-size: var(--font-size-xl);
  padding: var(--spacing-m) 0;
}
.about-section__image {
  border-radius: var(--border-radius);
  width: clamp(auto, 80%, 500px);
  height: auto;
}

/* Media Queries for smaller screens */
@media (max-width: 1100px) {
  .about-section__content-container {
    flex-direction: column;
  }
}

@media (max-width: 768px) {
  .about-section__image {
    width: 100%;
    height: auto;
  }

  .about-section__content-container {
    padding: var(--spacing-l);
  }

  .about-section__heading {
    padding: var(--spacing-l) 0;
    font-size: calc(var(--font-size-2xl) + 3.5vw);
  }

  .about-section__body {
    font-size: calc(var(--font-size-xs) + 1.5vw);
    width: 100%;
  }
}
