@import "/src/styles/components/cart-card.module.css";
@import "/src/styles/components/cart-list.module.css";

/* Base styles for desktop */
.cart-page {
  padding-bottom: var(--spacing-2xl);
}
.cart-page__heading {
  text-align: center;
  padding: var(--spacing-3xl);
}
.cart-page__content-container {
  position: relative;
  background-color: var(--color-primary);
  padding: var(--spacing-xl);
  border-radius: var(--border-radius);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.cart-page__total-price-heading {
  background-color: var(--color-secondary);
  padding: var(--spacing-m) var(--spacing-l);
  border-radius: var(--border-radius);
  font-size: var(--font-size-2xl);
  text-align: center;
  line-height: var(--spacing-l);
  font-weight: var(--font-weight-bold);
}
.cart-page__total-price-data {
  font-weight: var(--font-weight-regular);
}
.cart-page__total-checkout-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--spacing-m);
}
.cart-page__checkout-button {
  font-size: var(--font-size-2xl);
  font-weight: var(--font-weight-semi-bold);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--spacing-m);
  box-shadow: var(--shadow-m);
  width: 240px;
  background-color: var(--color-secondary);
  transition: all 0.2s ease;
}
.cart-page__checkout-button:hover {
  transform: scale(1.05);
  box-shadow: 0 0 30px var(--color-secondary);
}
.cart-page__checkout-icon {
  width: 45px;
}
.cart-page__empty-cart-button {
  background-color: var(--color-secondary);
  padding: var(--spacing-s) var(--spacing-m);
  font-size: var(--font-size-l);
  font-weight: var(--font-weight-semi-bold);
  position: absolute;
  top: 0;
  right: 0;
  width: fit-content;
}
.cart-page__info-button {
  top: -2px;
  right: 48px;
}
.cart-page__list-layout-button {
  background-color: var(--color-secondary);
  padding: var(--spacing-xs) var(--spacing-m);
  border-radius: 0;
  border-top-left-radius: var(--border-radius);
  border-top-right-radius: var(--border-radius);
  z-index: 0;
  box-shadow: var(--shadow-reversed);
}
.cart-page__no-items-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--spacing-m);
  width: 75%;
}
.cart-page__cart-list-container {
  padding: var(--spacing-l) var(--spacing-xl) var(--spacing-l) var(--spacing-l);
  border-radius: var(--border-radius);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--spacing-xs);
  width: 70%;
  z-index: 0;

  background-color: var(--color-secondary);
}
.cart-page__no-items-message {
  color: var(--color-secondary);
  font-size: var(--font-size-3xl);
}

/* Media Queries for smaller screens */
@media (max-width: 950px) {
  .cart-page__heading {
    padding: var(--spacing-l);
  }
  .cart-page__content-container {
    padding: var(--spacing-xl);
  }
  .cart-page__no-items-message {
    font-size: calc(var(--font-size-m) + 2vw);
  }
  .cart-page__empty-cart-button img {
    width: calc(10px + 0.8vw);
  }
  .cart-page__cart-list-container {
    width: 90%;
  }
}
@media (max-width: 580px) {
  .cart-page__content-container {
    padding: var(--spacing-xl) 0 0 0;
  }
  .cart-page__total-price-heading {
    font-size: calc(var(--font-size-s) + 3vw);
    padding: var(--spacing-xs) var(--spacing-s);
    width: 100%;
  }
  .cart-page__checkout-button {
    gap: var(--spacing-s);
    font-size: calc(var(--font-size-s) + 3vw);
    padding: var(--spacing-xs) var(--spacing-s);
    width: 110%;
  }
  .cart-page__checkout-icon {
    width: calc(var(--font-size-m) + 3vw);
    gap: 0;
  }
  .cart-page__list-layout-button {
    font-size: calc(6px + 2vw);
  }
  .cart-page__cart-list-container {
    padding: 0;
    width: 100%;
  }
  .cart-page__search-button {
    margin-bottom: 30px;
  }
}
