/* Base styles for desktop */
.contact-page {
  padding-bottom: var(--spacing-2xl);
}
.contact-page__heading {
  text-align: center;
  padding: var(--spacing-3xl);
}
.contact-page__content-container {
  padding: var(--spacing-3xl);
  border-radius: var(--border-radius);
  display: flex;
  justify-content: space-between;
  gap: var(--spacing-m);

  background-color: var(--color-primary);
}
.contact-page__content {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: clamp(auto, 70ch, 100%);

  color: var(--color-text-alternative);
}
.contact-page__content-heading {
  padding: var(--spacing-xl) 0 var(--spacing-m) 0;
}
.contact-page__body-list-item {
  font-size: var(--font-size-xl);
}
.contact-page__body {
  font-size: var(--font-size-xl);
}
.contact-page__image {
  border-radius: var(--border-radius);
  width: clamp(200px, 500px, 80%);
  height: auto;
}

/* Media Queries for smaller screens */
@media (max-width: 1100px) {
  .contact-page__content-container {
    flex-direction: column;
  }
}

@media (max-width: 950px) {
  .contact-page__image {
    min-width: 100%;
    height: auto;
  }
  .contact-page__content-container {
    padding: var(--spacing-l);
  }
  .contact-page__heading {
    padding: var(--spacing-l) 0;
    font-size: calc(var(--font-size-2xl) + 3.5vw);
  }
  .contact-page__body {
    width: 100%;
  }
  .contact-page__body-list {
    overflow-wrap: break-word;
    padding-left: 25px;
  }
}

@media (max-width: 580px) {
  .contact-page__image {
    min-width: 100%;
    height: auto;
  }
  .contact-page__content-container {
    padding: var(--spacing-l);
  }
  .contact-page__heading {
    padding: var(--spacing-l) 0;
    font-size: calc(var(--font-size-2xl) + 3.5vw);
  }
  .contact-page__body {
    width: 100%;
  }
  .contact-page__body-list {
    overflow-wrap: break-word;
    padding-left: 25px;
  }
}
