.about-section {
  padding-bottom: var(--spacing-2xl);
}
.about-section__heading {
  text-align: center;
  padding: var(--spacing-3xl);
}
.about-section__content {
  background-color: var(--color-primary);
  padding: var(--spacing-3xl);
  border-radius: var(--border-radius);
  display: flex;
  justify-content: space-evenly;
  gap: var(--spacing-m);
}
.about-section__text-area {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: var(--color-text-alternative);
  width: clamp(340px, 70ch, 100%);
}
.about-section__body-text {
  font-size: var(--font-size-xl);
  padding: var(--spacing-m) 0;
}
.about-section__image {
  border-radius: var(--border-radius);
  width: clamp(200px, 500px, 80%);
  height: auto;
}

@media (max-width: 768px) {
  .about-section__image {
    min-width: 100%;
    height: auto;
  }
  .about-section__content {
    padding: var(--spacing-l);
  }
  .about-section__heading {
    padding: var(--spacing-l) 0;
    font-size: calc(var(--font-size-2xl) + 3.5vw);
  }
  .about-section__text-area {
    width: 100%;
  }
}
@media (max-width: 1100px) {
  .about-section__content {
    flex-direction: column;
  }
}
