.cart-section {
}
.cart-section__heading {
  text-align: center;
  padding: var(--spacing-3xl);
}
.cart-section__content {
  background-color: var(--color-primary);
  padding: var(--spacing-3xl);
  border-radius: var(--border-radius);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--spacing-m);
}
.cart-section__card {
  background-color: var(--color-secondary);
  /* padding: var(--spacing-xs); */
  display: flex;
  width: clamp(580px, 70%, 100%);
  justify-content: space-between;
  align-items: center;
  /* gap: var(--spacing-xl); */
  border-radius: var(--border-radius);
  box-shadow: var(--shadow-s);
}
.cart-card__image {
  width: 120px;
  border-radius: var(--border-radius);
}
.cart-card__heading {
}
.cart-card__body {
  font-size: var(--font-size-m);
}
.cart-card__counter {
  display: flex;
  align-items: center;
  gap: var(--spacing-m);
  padding-right: var(--spacing-l);
}
.cart-card__delete,
.cart-card__add {
  box-shadow: none !important;
  border: 1px solid black !important;
  color: var(--color-text-alternative) !important;
  background-color: var(--color-detail) !important;
}
.cart-card__count {
  font-size: var(--font-size-xl);
  font-weight: var(--font-weight-bold);
}
