.cart-section {
  padding-bottom: var(--spacing-2xl);
}
.cart-section__heading {
  text-align: center;
  padding: var(--spacing-3xl);
}
.cart-section__content {
  position: relative;
  background-color: var(--color-primary);
  padding: var(--spacing-xl);
  border-radius: var(--border-radius);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--spacing-m);
}
.cart-section__total-price-heading {
  background-color: var(--color-secondary);
  padding: var(--spacing-m) var(--spacing-l);
  border-radius: var(--border-radius);
  font-size: var(--font-size-2xl);
  text-align: center;
  line-height: var(--spacing-l);
  font-weight: var(--font-weight-bold);
  box-shadow: var(--shadow-l);
}
.cart-section__total-price-data {
  font-weight: var(--font-weight-regular);
}
.cart-section__total-checkout-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--spacing-m);
  padding-bottom: 20px;
}
.checkout-button {
  font-size: var(--font-size-2xl);
  font-weight: var(--font-weight-semi-bold);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--spacing-m);
  border: none;
  box-shadow: var(--shadow-m);
  width: 240px;
  border-radius: var(--border-radius);
  background-color: var(--color-secondary);
  cursor: pointer;
  transition: all 0.2s ease;
}
.checkout-button:hover {
  transform: scale(1.05);
  box-shadow: 0 0 30px var(--color-secondary);
}
.checkout-icon {
  width: 45px;
}
.cart-section__card {
  background-color: var(--color-secondary);
  display: flex;
  width: clamp(580px, 70%, 100%);
  justify-content: space-between;
  align-items: center;
  border-radius: var(--border-radius);
  box-shadow: var(--shadow-s);
}
.cart-card__container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex: 1;
}
.cart-card__image {
  min-width: 120px;
  width: 120px;
  margin-right: 20px;
  border-radius: var(--border-radius);
}
.cart-card__heading {
}
.cart-card__body {
  font-size: var(--font-size-m);
}
.cart-card__heading-price-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 1;
}
.cart-card__price {
  font-size: var(--font-size-xl);
  padding-right: var(--spacing-l);
}
.cart-card__counter {
  position: relative;
  display: flex;
  align-items: center;
  gap: var(--spacing-m);
  padding-right: var(--spacing-l);
}
.cart-card__delete,
.cart-card__add {
  box-shadow: none !important;
  border: 1px solid black !important;
  color: var(--color-text-alternative) !important;
  background-color: var(--color-detail) !important;
}
.cart-card__count {
  font-size: var(--font-size-xl);
  font-weight: var(--font-weight-bold);
}
.cart-section__no-items-message {
  color: var(--color-text-alternative);
  font-size: var(--font-size-2xl);
}

@media (max-width: 767px) {
  .cart-section__content {
    padding: var(--spacing-xl);
  }
  .cart-section__card {
    height: fit-content;
    width: 100%;
    padding: 10px;
  }
  .cart-card__image {
    width: 30%;
    margin-right: 0;
  }
  .cart-card__container {
    flex-direction: column;
    padding: 0;
  }
  .cart-card__heading {
    font-size: var(--font-size-l);
  }
  .cart-card__heading-price-container {
    flex-direction: column;
  }
  .cart-card__price {
    font-size: var(--font-size-l);
    padding: 0;
  }
  .cart-card__counter {
    margin: 0;
    padding-right: 0;
    gap: var(--spacing-s);
  }
  .cart-card__delete,
  .cart-card__add {
    padding-top: 1px !important;
    padding-bottom: 1px !important;
    font-size: calc(var(--font-size-xs) + 1vw) !important;
  }
}
@media (max-width: 450px) {
  .cart-section__content {
    padding: var(--spacing-xl);
  }
  .cart-section__card {
    flex-direction: column;
    width: fit-content;
  }
  .cart-card__image {
    width: 200px;
    margin-bottom: 10px;
  }
}
