.cart-section {
  padding-bottom: var(--spacing-2xl);
}
.cart-section__heading {
  text-align: center;
  padding: var(--spacing-3xl);
}
.cart-section__content {
  position: relative;
  background-color: var(--color-primary);
  padding: var(--spacing-xl);
  border-radius: var(--border-radius);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.cart-section__total-price-heading {
  background-color: var(--color-secondary);
  padding: var(--spacing-m) var(--spacing-l);
  border-radius: var(--border-radius);
  font-size: var(--font-size-2xl);
  text-align: center;
  line-height: var(--spacing-l);
  font-weight: var(--font-weight-bold);
}
.cart-section__total-price-data {
  font-weight: var(--font-weight-regular);
}
.cart-section__total-checkout-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--spacing-m);
  padding-bottom: 20px;
}
.checkout-button {
  font-size: var(--font-size-2xl);
  font-weight: var(--font-weight-semi-bold);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--spacing-m);
  box-shadow: var(--shadow-m);
  width: 240px;
  background-color: var(--color-secondary);
  transition: all 0.2s ease;
}
.checkout-button:hover {
  transform: scale(1.05);
  box-shadow: 0 0 30px var(--color-secondary);
}
.checkout-icon {
  width: 45px;
}
.cart-list__no-items-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--spacing-m);
  width: 75%;
}
.cart-section__list-layout-button {
  background-color: var(--color-secondary);
  padding: var(--spacing-xs) var(--spacing-m);
  border-radius: 0;
  border-top-left-radius: var(--border-radius);
  border-top-right-radius: var(--border-radius);
  z-index: 0;
  box-shadow: var(--shadow-reversed);
}
.cart-section__empty-cart-button {
  background-color: var(--color-secondary);
  padding: var(--spacing-s) var(--spacing-m);
  font-size: var(--font-size-l);
  font-weight: var(--font-weight-semi-bold);
  position: absolute;
  top: 0;
  right: 0;
  width: fit-content;
}

.cart-section__card {
  background-color: var(--color-secondary);
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  border-radius: var(--border-radius);
  box-shadow: var(--shadow-s);
  z-index: 1;
}
.cart-card__container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex: 1;
}
.cart-card__image {
  min-width: 120px;
  width: 120px;
  margin-right: 20px;
  border-radius: var(--border-radius);
}
.cart-card__heading {
}
.cart-card__body {
  font-size: var(--font-size-m);
}
.cart-card__heading-price-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 1;
}
.cart-card__price {
  font-size: var(--font-size-xl);
  padding-right: var(--spacing-l);
}
.cart-card__counter {
  position: relative;
  display: flex;
  align-items: center;
  gap: var(--spacing-m);
  padding-right: var(--spacing-l);
}
.cart-card__delete,
.cart-card__add {
  border: 1px solid black;
  color: var(--color-text-alternative);
  background-color: var(--color-detail);
}
.cart-card__count {
  font-size: var(--font-size-xl);
  font-weight: var(--font-weight-bold);
}
.cart-section__no-items-message {
  color: var(--color-secondary);
  font-size: var(--font-size-3xl);
}
.cart-reset-button {
  bottom: -8px;
}

.cart-list__container {
  background-color: var(--color-secondary);
  padding: var(--spacing-l) var(--spacing-xl) var(--spacing-l) var(--spacing-l);
  border-radius: var(--border-radius);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--spacing-xs);
  width: 70%;
  z-index: 0;
}
.cart-list__no-container {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--spacing-m);
}
.cart-list__card {
  border-bottom: 1px solid var(--color-dark);
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex: 1;
  width: 100%;
}
.cart-list__heading-price-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 1;
}
.cart-list__heading {
  font-size: var(--font-size-xl);
  padding-right: 15px;
}
.cart-list__price {
  font-size: var(--font-size-l);
  padding-right: var(--spacing-l);
}
.cart-list__counter {
  position: relative;
  display: flex;
  gap: var(--spacing-m);
}
.cart-list__count {
  font-size: var(--font-size-xl);
  display: flex;
  justify-content: center;
  align-items: center;
}
.cart-list__delete,
.cart-list__add {
  background-color: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: none;
}
.cart-list__delete:hover,
.cart-list__add:hover {
  text-decoration: underline;
}
.cart-list__quantity-reset {
  position: absolute;
  bottom: 15px;
  translate: 400%;
  background-color: inherit;
  box-shadow: none;
}

@media (max-width: 767px) {
  .cart-section__heading {
    padding: var(--spacing-l);
  }
  .cart-section__content {
    padding: var(--spacing-xl);
  }
  .cart-section__no-items-message {
    font-size: calc(var(--font-size-m) + 2vw);
  }
  .cart-section__card {
    height: fit-content;
    width: 100%;
    padding: 15px;
  }
  .cart-card__image {
    min-width: 140px;
    padding-right: 8px;
    width: 37%;
    margin-right: 0;
  }
  .cart-card__container {
    flex-direction: column;
    padding: 0;
  }
  .cart-card__heading {
    font-size: var(--font-size-l);
  }
  .cart-card__heading-price-container {
    flex-direction: column;
  }
  .cart-card__price {
    font-size: var(--font-size-l);
    padding: 0;
  }
  .cart-card__counter {
    margin: 0 0 10px 0;
    padding-right: 0;
    gap: var(--spacing-s);
  }
  .cart-card__delete,
  .cart-card__add {
    padding-top: 1px;
    padding-bottom: 1px;
    font-size: calc(var(--font-size-xs) + 1vw);
  }
  .cart-reset-button {
    bottom: -17px;
  }
  .cart-section__empty-cart-button img {
    width: calc(10px + 0.8vw);
  }

  .cart-list__container {
    width: 90%;
  }
  .cart-list__heading {
    font-size: var(--font-size-l);
  }
  .cart-list__price {
    font-size: var(--font-size-m);
    padding-right: 0;
  }
  .cart-list__counter {
    gap: 0;
  }
  .cart-list__count {
    font-size: var(--font-size-m);
  }
  .cart-list__delete,
  .cart-list__add {
    font-size: var(--font-size-m);
    background-color: inherit;
  }
  .cart-list__quantity-reset {
    position: absolute;
    bottom: 9px;
    translate: 300%;
    background-color: inherit;
  }
  .cart-list__reset-icon {
    width: calc(10px + 0.6vw);
    translate: 0 -10%;
  }
}
@media (max-width: 500px) {
  .cart-section__content {
    padding: var(--spacing-xl) 0 0 0;
  }
  .cart-section__card {
    flex-direction: column;
    width: fit-content;
  }
  .cart-card__image {
    width: 200px;
    margin-bottom: 10px;
  }
  .cart-section__total-price-heading {
    font-size: calc(var(--font-size-s) + 3vw);
    padding: var(--spacing-xs) var(--spacing-s);
    width: 100%;
  }
  .cart-list__heading-price-container {
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
  .checkout-button {
    gap: var(--spacing-s);
    font-size: calc(var(--font-size-s) + 3vw);
    padding: var(--spacing-xs) var(--spacing-s);
    width: 110%;
  }
  .checkout-icon {
    width: calc(var(--font-size-m) + 3vw);
    gap: 0;
  }
  .cart-section__list-layout-button {
    font-size: calc(6px + 2vw);
  }

  .cart-list__container {
    padding: 0;
    width: 100%;
  }
  .cart-list__card {
    flex-direction: column;
    align-items: start;
    padding: var(--spacing-m) 0 0 0;
    width: 80%;
  }
  .cart-list__card:last-child {
    margin-bottom: 15px;
  }
  .cart-list__heading {
    font-size: calc(var(--font-size-xs) + 1vw);
  }
  .cart-list__price {
    font-size: calc(var(--font-size-xs) + 1vw);
    padding-right: 0;
  }
  .cart-list__count {
    font-size: calc(var(--font-size-xs) + 1vw);
  }
  .cart-list__delete,
  .cart-list__add {
    font-size: calc(var(--font-size-xs) + 1vw);
  }
  .cart-list__reset-icon {
    width: calc(10px + 0.6vw);
    translate: 0 40%;
  }
  .cart-list__counter {
    height: 20px;
    padding-top: 3px;
    position: relative;
    left: -15px;
  }
  .cart-section__search-button{
    margin-bottom: 30px;
  }
}
