.footer {
  background-color: var(--color-bg);
  padding: var(--spacing-3xl) 0;
}
.footer__container {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-3xl);
}
.footer__info-field {
  color: var(--color-text-alternative);
  display: flex;
  background-color: var(--color-primary);
  padding: var(--spacing-l);
  border-radius: var(--border-radius);
  gap: var(--spacing-xl);
}
.footer__website-summary {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-m);
  flex: 1;
}
.footer__form {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-s);
}
.footer__form-group {
  display: flex;
  justify-content: space-between;
  width: 85%;
  border-radius: 50px;
  background-color: var(--color-secondary);
  gap: var(--spacing-m);
}
.footer__form-group input {
  color: var(--color-text);
}
.footer__form-group input::placeholder {
  color: var(--color-text-muted);
}
.footer__button {
  color: var(--color-text-alternative) !important;
  background-color: var(--color-detail) !important;
}
.footer__links-container {
  display: flex;
  gap: var(--spacing-xl);
  flex: 1;
}
.footer__links-container h5 {
  padding-bottom: 15px;
}
.footer__links-container a {
  text-decoration: none;
  color: var(--color-text-alternative);
}
.footer__links-container div {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-m);
  flex: 1;
}
.footer__social-links a {
  display: flex;
  gap: var(--spacing-xs);
}

.footer__policy {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-l);
}
.footer__copyright {
  font-size: var(--font-size-m);
}
.footer__policy-content {
  display: flex;
  justify-content: space-between;
}
.footer__policy-links {
  display: flex;
  gap: var(--spacing-l);
}
.footer__policy-link {
  text-decoration: none;
  color: var(--color-text);
}

@media (max-width: 767px) {
  .footer {
    padding: var(--spacing-l) 0;
  }
  .footer__container {
    gap: var(--spacing-xl);
  }
  .footer__info-field {
    flex-direction: column;
    padding: var(--spacing-l) var(--spacing-m);
  }
  .footer__form {
    gap: var(--spacing-m);
  }
  .footer__form-group {
    flex-direction: column;
    width: 100%;
    background-color: inherit;
  }
  .footer__form-group input {
    border: 1px solid var(--color-text-alternative);
  }
  .footer__form-group input::placeholder {
    color: var(--color-bg);
  }
  .footer__links-container {
    flex-direction: column;
  }
  .footer__links-container h5 {
    padding-bottom: 5px;
  }

  .footer__copyright {
    order: 2;
    font-size: var(--font-size-s);
  }
  .footer__policy-content {
    flex-direction: column;
    padding: 0;
  }
  .footer__policy-links {
    flex-direction: column;
    gap: var(--spacing-s);
    padding: 0 0 20px 0;
  }
}

@media (min-width: 768px) and (max-width: 1199px) {
  .footer__links-container {
    gap: var(--spacing-m);
  }
  .footer__form {
    gap: var(--spacing-m);
  }
  .footer__form-group {
    flex-direction: column;
    width: 100%;
    background-color: inherit;
  }
  .footer__form-group input {
    border: 1px solid var(--color-text-alternative);
  }
  .footer__form-group input::placeholder {
    color: var(--color-bg);
  }
}
