.header {
  position: sticky;
  top: 0;
  color: var(--color-text-alternative);
  background-color: var(--color-primary);
  padding: var(--spacing-s) 0;
  box-shadow: var(--shadow-m);
  z-index: 10;
}
.header__container {
  display: flex;
}
.header__branding {
  display: flex;
}
.header__branding a {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: var(--spacing-m);
  text-decoration: none;
}
.header__menu-button {
  display: none;
  background-color: transparent;
  border: none;
  font-size: var(--font-size-xl);
  font-family: monospace;
  color: var(--color-text-alternative);
  box-shadow: none;
}
.header__title {
  font-size: var(--font-size-2xl);
  color: var(--color-secondary);
  text-shadow: var(--shadow-s);
}
.header__nav {
  display: flex;
  flex: 1;
  align-items: center;
}
.nav__toggle-hide {
  display: flex;
  flex: 1;
  align-items: center;
}
.header__nav-links {
  display: flex;
  margin-right: auto;
  list-style: none;
  gap: var(--spacing-l);
  font-size: var(--font-size-l);
}
.header__nav-link {
  text-decoration: none;
  color: var(--color-text-alternative);
}
.header__nav-link:hover {
  text-decoration: underline;
  text-shadow: var(--shadow-xs);
}
.header__nav-buttons {
  display: flex;
  align-items: center;
  gap: var(--spacing-m);
}
.header__cart-button {
  position: relative;
  width: fit-content;
  background-color: transparent;
  border: none;
  box-shadow: none;
}
.header__cart-image {
  width: var(--font-size-3xl);
  background-color: var(--color-detail);
  border-radius: 50%;
  padding: var(--spacing-s);
  cursor: pointer;
  box-shadow: var(--shadow-xs);
}
.header__menu-icon {
  width: var(--font-size-3xl);
  padding: var(--spacing-s);
  cursor: pointer;
}
.cart-button__number {
  background-color: var(--color-secondary);
  border-radius: 50%;
  width: 23px;
  height: 23px;
  position: absolute;
  bottom: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.active-link {
  text-decoration: underline;
  text-shadow: var(--shadow-xs);
}

@media (max-width: 767px) {
  .header__branding {
    display: flex;
    justify-content: space-between;
  }
  .header__title {
    font-size: calc(var(--font-size-l) + 1.5vw);
  }
  .header__menu-button {
    display: block;
    width: calc(var(--font-size-2xl) + 2.5vw);
  }
  .header__container {
    flex-direction: column;
  }
  .nav__toggle-hide {
    flex-direction: column;
    padding: 0;
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    transition: all 0.5s ease;
  }
  .header__nav {
    flex-direction: column;
    padding: var(--spacing-l) 0;
    max-height: 500px;
    overflow: hidden;
    opacity: 1;
    transition: all 0.5s ease;
  }
  .header__nav-links {
    flex-direction: column;
    justify-content: start;
    padding-left: 0;
    gap: var(--spacing-m);
  }
  .header__nav-buttons {
    padding-top: var(--spacing-m);
    flex-direction: column;
    align-items: start;
    width: 100%;
  }
  .header__buttons {
    flex-direction: column;
    width: 100%;
  }
  .header__buttons {
    order: 3;
  }
  .header__buttons {
    order: 2;
  }
  .header__cart-button {
    order: 1;
    width: fit-content;
  }
}

@media (min-width: 768px) and (max-width: 1199px) {
  .header__title {
    font-size: var(--font-size-xl);
  }
  .header__nav-links {
    font-size: var(--font-size-m);
    gap: var(--spacing-m);
  }
  .header__nav-buttons {
    gap: var(--spacing-s);
    padding-left: var(--spacing-m);
  }
  .header__nav-buttons * {
    font-size: calc(var(--font-size-xs) + 0.5vw);
  }
  .header__cart-button {
    min-width: 63px;
  }
  .header__cart-image {
    min-width: var(--font-size-m);
    width: var(--font-size-2xl);
  }
}
