@import "reset.css";
@import "variables.css";
@import "utilities.css";
@import "Header.module.css";
@import "Home.module.css";
@import "Footer.module.css";
@import "Products.module.css";
@import "Cart.module.css";
@import "About.module.css";
@import "Contact.module.css";

body {
  font-family: var(--font-primary);
}

.width-container {
  max-width: var(--breakpoint-2xl);
  margin: auto;
  padding: 0 var(--spacing-l);
}

.button--outline {
  color: inherit;
  background-color: inherit;
  border: 1px solid var(--color-dark);
  padding: var(--spacing-s) var(--spacing-m);
  border-radius: 50px;
  cursor: pointer;
}
.button--filled {
  color: var(--color-dark);
  background-color: var(--color-secondary);
  /* border: 1px solid var(--color-dark); */
  border: none;
  padding: var(--spacing-s) var(--spacing-m);
  border-radius: 50px;
  cursor: pointer;
}

hr {
  border: none;
  height: 2px;
  background-color: var(--color-text-muted);
}

h1 {
  font-size: var(--font-size-5xl);
  font-weight: var(--font-weight-bold);
  line-height: var(--line-height-xs);
}

h2 {
  font-size: var(--font-size-4xl);
  font-weight: var(--font-weight-bold);
  line-height: var(--line-height-xs);
}

h3 {
  font-size: var(--font-size-2xl);
  font-weight: var(--font-weight-bold);
  line-height: var(--line-height-xs);
}

h4 {
  font-size: var(--font-size-l);
  font-weight: var(--font-weight-bold);
  line-height: var(--line-height-s);
}

h5 {
  font-size: var(--font-size-m);
  font-weight: var(--font-weight-semi-bold);
  line-height: var(--line-height-xs);
}

p {
  font-size: var(--font-size-l);
  font-weight: var(--font-weight-regular);
}

.button--filled,
.button--outline {
  font-size: var(--font-size-l);
  font-weight: var(--font-weight-medium);
  box-shadow: var(--shadow-xs);
}

input {
  color: var(--color-text-alternative);
  font-size: var(--font-size-xl);
  width: 50%;
  background-color: inherit;
  border-radius: inherit;
  padding: 0 var(--spacing-m);
  border: none;
}
input::placeholder {
  color: var(--color-bg);
}
input:focus {
  outline: none;
}

.policy-text {
  font-size: var(--font-size-s);
}

.logo {
  width: var(--font-size-5xl);
}

/* .navlink {
    font-size: var(--font-size-m);
    font-weight: var(--font-weight-regular);
  } */

@media (min-width: 320px) and (max-width: 479px) {
  .width-container {
    max-width: 479px !important;
  }
  h1 {
    font-size: var(--font-size-4xl);
  }
  h2 {
    font-size: var(--font-size-3xl);
  }
  h3 {
    font-size: var(--font-size-2xl);
  }
  input {
    width: 100%;
    height: 50px;
    background-color: var(--color-primary);
    padding: 0;
    text-indent: 15px;
  }
}

@media (min-width: 480px) and (max-width: 767px) {
}

@media (min-width: 1024px) and (max-width: 1199px) {
}

@media (min-width: 1400px) {
}
