.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  color: var(--color-dark);
  background: var(--color-secondary);
  padding: var(--spacing-m);
  border-radius: var(--border-radius);
  text-align: center;
  max-width: 400px;
  width: 70%;
}

.close-button {
  margin-top: var(--spacing-m);
  background: var(--color-primary);
  color: var(--color-text-alternative);
  font-size: var(--font-size-l);
  border: none;
  padding: var(--spacing-s) var(--spacing-m);
  border-radius: var(--border-radius);
  cursor: pointer;
}

/* .close-button:hover {
  background: var(--color-primary-light);
} */
