.products-section {
}
.products-section__heading {
  text-align: center;
  padding: var(--spacing-3xl);
}
.products-section__content {
  background-color: var(--color-primary);
  padding: var(--spacing-3xl);
  border-radius: var(--border-radius);
  display: flex;
  justify-content: center;
  gap: var(--spacing-l);
  flex-wrap: wrap;
}
.products-section__card {
  text-align: center;
  background-color: var(--color-secondary);
  padding: var(--spacing-m);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--spacing-s);
  width: 200px;
  border-radius: var(--border-radius);
  box-shadow: var(--shadow-s);
}
.product-card__image {
}
.product-card__heading {
  padding: var(--spacing-s) 0 0 0;
}
.product-card__body {
  font-size: var(--font-size-m);
}
.product-card__counter {
  display: flex;
  align-items: center;
  gap: var(--spacing-m);
  padding: var(--spacing-xl) 0 var(--spacing-m) 0;
}
.product-card__delete,
.product-card__add {
  box-shadow: none !important;
  border: 1px solid black !important;
  color: var(--color-text-alternative) !important;
  background-color: var(--color-detail) !important;
}
.product-card__count {
  font-size: var(--font-size-xl);
  font-weight: var(--font-weight-bold);
}
