/* UTILITIES */
.u-flex-row {
  display: flex;
}
.u-flex-column {
  display: flex;
  flex-direction: column;
}
.u-flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.u-flex-center-row {
  display: flex;
  justify-content: center;
  align-items: center;
}
.u-flex-center-column {
  display: flex;
  justify-content: center;
  align-items: center;
}
.u-double-buttons {
  display: flex;
  gap: var(--spacing-m);
}
